In [1]:
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from scipy import stats

In [2]:
# Nossos dados foram obtidos através do portal UCI: Machine Learning Repository:
# https://archive.ics.uci.edu/ml/datasets/Divorce+Predictors+data+set 
# Contêm 54 perguntas (features) para avaliar casamento.

# Foram respondidas por dois groupos:
#   1) Divorciados (coluna "Class" igual a 1)
#   2) Casados (coluna "Class" igual a 0)

# A ideia é buscar as seguintes informações:
#    1) Quais as perguntas chaves para determinar se um relacionamento está fadado ao fracasso
#    2) Prever, com estatisticas simples, se um casal é divorciado ou não
#    3) Responder o que representa as respostas 0,1,2,3 e 4.


# Como são os dados?
df = pd.read_csv('/home/anderson/Área de Trabalho/Repositorios_GIT/Estatistica_descritiva_Trabalho_Grupo_1/data-eng/divorce.csv',sep=';')
df.head(3)

,Atr1,Atr2,Atr3,Atr4,Atr5,Atr6,Atr7,Atr8,Atr9,Atr10,...,Atr46,Atr47,Atr48,Atr49,Atr50,Atr51,Atr52,Atr53,Atr54,Class
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1

In [ ]:
def separate_by_class(dataset):
  classes = np.unique(dataset['Class'])

  separated = []
  for cl in classes:
    separated.append(dataset[dataset['Class'] == cl])

  return separated

separated = separate_by_class(df)

teste_df = pd.DataFrame(separated)

teste_df.head()

In [ ]:
#Não há possibilidade de fazer com esse método

fig,ax = plt.subplots(1,2)
fig.set_size_inches(10,h=6)
for s in separated:
 # s.plt.scatter(s['atr1'], s['atr2'])
    ax[0].scatter(s['Atr39'], s['Atr5'])
   # ax[1].scatter()
    
fig.legend(['Divorciado', 'Casado'])

In [ ]:
#Calcular a média e...


def summarize_dataset(dataset, eliminate_last=True):
  if eliminate_last:
    columns = dataset.columns[:-1]
  else:
    columns = dataset.columns
  summaries = [(np.mean(dataset[column]), np.std(dataset[column]), len(dataset[column])) for column in dataset.columns]
  del(summaries[-1])
  return summaries

summaries = summarize_dataset(df)

summaries_teste = pd.DataFrame(summarize_dataset(df))

summaries_teste


#se = summaries_teste.groupby(0).count()

#se

In [ ]:
def summarize_by_class(dataset):
  separated = separate_by_class(dataset)
  summaries = dict()
  for s in separated:
    class_value = np.array(s['Class'])
    rows = s[s.columns]
    summaries[class_value[0]] = summarize_dataset(rows, eliminate_last=False)
  return summaries

summaries_by_class = summarize_by_class(df)
print(summaries_by_class)

In [ ]:
def calculate_probability(x, mean, stdev):
    exponent = np.exp(-((x-mean)**2 / (2 * stdev**2 )))
    return (1 / (np.sqrt(2 * np.pi) * stdev)) * exponent

In [ ]:
x = np.arange(-2,6,1)
for summ in summaries:
  y = calculate_probability(x, summ[0], summ[1])
  plt.plot(x,y)

plt.legend(['Divorciado', 'Casado'])
x = np.arange(-2.5,10,0.1)
for summ in summaries:
  y = calculate_probability(x, summ[0], summ[1])
  plt.plot(x,y)

plt.legend(['Divorciado', 'Casado'])